html, body {
	box-sizing: border-box;
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	height: 100vh;
	/*width: 100vw;*/
}

body {
	min-height: 100vh;
	color: white;
	padding-top: 2rem;		
	background: linear-gradient(#202, #444);
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Amatic SC', cursive;
	letter-spacing: 4px;
}

.main_content {
	/*box-shadow: 0px 0px 140rem 5px #444;
	background: linear-gradient(#101, #000);*/
	/*border: 1px solid white;*/
	border-radius: 10px;
	padding: 20px;
	/*width: 30%;*/
	margin: 0 auto 0 auto;
	text-align: center;
}

/*p {
	margin: 0;
}*/

/*.info {
	border-radius: 20px;
	text-align: center;
	padding-top: 5%;
	width: 60%;
	height: 50%;
	margin: 5% auto 0 auto;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 3em;
	font-family: "Spirax", serif;
	text-shadow: 2px 2px 5px pink;
}*/

/*.info p {
	padding-bottom: 10px;
}*/

/*img {
	width: 100px;
	opacity: 0.55;
	margin-top: 20px;
}*/

/*a {
	text-decoration: none;
	color: inherit;
}*/

/*.nav {
	width: 67%;
	margin-left: auto;
	margin-right: 20px;
	opacity: 0.1;
	font-family: "Wingdings", sarif;
	text-decoration: none;
}*/

/*.nav li {
	display: inline-block;
	color: purple;
	background-color: #70b7ff;
	font-size: 25px;
	letter-spacing: 5px;
	border-radius: 3%;
	box-shadow: 2px -2px 3px #bbb;
	padding: 5px 10px;
}*/
/*.nav li:hover {
	color: orange;
	background-color: #fff;
}*/

/*#myTextInput {
	font-family: "Orbitron", sarif;
	background-color: yellow;
	color: #666;
}*/

/*#myButton {
	border-radius: 10px;
	color: #d188e3;
	background-color: purple;
	font-family: inherit;
}*/

/*#clock {
	font-family: "Orbitron", sarif;
}*/